LANGUAGE_MODEL_NAME=INSAIT-Institute/MamayLM-Gemma-3-4B-IT-v1.0-GGUF/MamayLM-Gemma-3-4B-IT-v1.0.Q8_0.gguf
# Optionaly can ovveride MODEL_PROVIDER_API_KEY value for specific provider
OPENAI_API_KEY=
GOOGLE_API_KEY=
HF_TOKEN=

MODEL_PROVIDER_API_KEY=
EMBEDDINGS_MODEL_NAME=text-embedding-3-small

KB_DATA_ROOT_DIR=kb_data
KB_CONTEXT_PATH=context
KB_VECTOR_STORE_PATH=db
KB_COLLECTION_NAME=default_collection

INPUT_DATA_DIR=

