LANGUAGE_MODEL_NAME=INSAIT-Institute/MamayLM-Gemma-3-4B-IT-v1.0-GGUF/MamayLM-Gemma-3-4B-IT-v1.0.Q8_0.gguf

LANGUAGE_MODEL_MAX_TOKENS=2048
LANGUAGE_MODEL_TEMPERATURE=0.1
LANGUAGE_MODEL_TOP_P=0.9
LANGUAGE_MODEL_TOP_K=40
LANGUAGE_MODEL_REPEAT_PENALTY=1.0
LANGUAGE_MODEL_STOP_TOKENS="<eos> <end_of_turn>"
LANGUAGE_MODEL_N_BATCH=512
LANGUAGE_MODEL_N_GPU_LAYERS=-1

# Optionaly can ovveride MODEL_PROVIDER_API_KEY value for specific provider
OPENAI_API_KEY=
GOOGLE_API_KEY=
HF_TOKEN=

MODEL_PROVIDER_API_KEY=
EMBEDDINGS_MODEL_NAME=text-embedding-3-small

VECTOR_STORE_PATH=scripts/vector_dbs/qdrant_db
VECTOR_STORE_COLLECTION_NAME=default

INPUT_DATA_DIR=

